---
const { title, cover, url, audioUrl, id, pubDate, duration, intro, voices,episode, keywords } = Astro.props;

import astropodConfig from "../../.astropod/astropod.config.json";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";
dayjs.extend(localizedFormat);
import PlayIcon from "./icons/playIcon.astro";
import PauseIcon from "./icons/pauseIcon.astro";
import UserIcon from "./icons/user.astro";
import TagIcon from "./icons/tagIcon.astro";
import ClockIcon from "./icons/clockIcon.astro"
import CalanderIcon from "./icons/calanderIcon.astro"


let cover_url = cover ? cover : astropodConfig.cover;
const displayDate = dayjs(pubDate).format("ll");

function formatTime(secs) {
    if (typeof secs === 'string') {
        const segmentedTime = secs.split(":");
        return (segmentedTime[0] === "00" || segmentedTime[0] === "0") ? secs : null;
    }

    if (isNaN(secs) || secs < 0) {
        return null;
    }

    const hours = Math.floor(secs / 3600);
    const minutes = Math.floor((secs % 3600) / 60);
    const seconds = Math.floor(secs % 60);

    const formattedMinutes = minutes < 10 ? `0${minutes}` : `${minutes}`;
    const formattedSeconds = seconds < 10 ? `0${seconds}` : `${seconds}`;

    return hours > 0
        ? `${hours}:${formattedMinutes}:${formattedSeconds}`
        : `${formattedMinutes}:${formattedSeconds}`;
}

const displayDuration = formatTime(duration);
---

<div class="episode-card bg-slate-50 shadow-md ">
  <div class="hero-content flex-row md:flex-row lg:flex-row  ">
    <a href={url} class="min-w-fit">
      <img src={cover_url} alt={title} class="shadow-lg rounded-md w-[4.5rem] h-[4.5rem] md:w-24 md:h-24" />
      
    </a>
    <div class="grow w-full overflow-auto">
      <a href={url}>
        <div class="flex flex-initial items-center flex-col md:flex-row lg:flex-row "> 
          <span class="bg-orioles p-1 text-xs rounded-md text-white hidden md:block lg:block">E:{episode}</span>
          <h2 class="md:text-xl text-sm p-2 font-semibold text-orioles ">{title} </h2>
          
        </div>
        <div class="text-xs opacity-60  items-center hidden  lg:block sm:hidden">
          <p class="flex">
            <ClockIcon/>{displayDuration && displayDuration + " • "}
            | <CalanderIcon/> {displayDate} 
            | <UserIcon/> {voices} | <TagIcon/>{keywords}
          </p>
        </div>
        <p class="my-1 text-xs md:text-sm line-clamp-2 ">{intro}</p>

      </a>
    </div>
    <label class="btn btn-circle md:mx-2 swap">
      <input type="checkbox" class="card-pay-buttons" id={id} data-audio-url={audioUrl} aria-label="Play and pause" />
      <div class="swap-off">
        <PlayIcon />
      </div>
      <div class="swap-on">
        <PauseIcon />
      </div>
    </label>
  </div>
  <hr class="my-3 border-base-content opacity-[.15]" />
</div>

<style>
  .episode-card:last-child hr {
    display: none;
  }

</style>
